.user-main {
  margin-top: 24px;
  
  .staff-counters {
    border-radius: 40px;
    
    &>div, 
    &>div a {
      color: $primary;

      span {
        color: $secondary; 
      }
    }
  }
}

.user-info {
  background-color: transparent !important;
}

.badge-info {
  background-color: lighten($primary, 83%);
}