// Theme: Light Theme
// Target: common scss
// Last Edited: 2020-06-03 11:18:24 UTC

// HACKS (Display for Beta and Staff Users)
// body:not(.primary-group-theme-beta):not(.staff) { 
//     .user-preferences .select-kit-row[data-name="Light"],
//     .menu-container-footer-links li[data-name="Light"],
//     .menu-container-footer-links div:first-child {
//         display: none;
//     }
// }

// MIXINS
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin inline-flexbox() {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin order($number) {
    -webkit-box-ordinal-group: $number;  
    -moz-box-ordinal-group: $number;     
    -ms-flex-order: $number;     
    -webkit-order: $number;  
    order: $number;
}

@mixin align($alignment) {
    -webkit-box-align: $alignment;
    -ms-flex-align: $alignment;
    align-items: $alignment;
}

@mixin pack($val) {
    -webkit-box-pack: $val;
    -ms-flex-pack: $val;
}

@mixin semiBoldFont {
    font-family: "SamsungOne-600", Arial, sans-serif;
    font-weight: 600;
}

@mixin boldFont {
    font-family: "SamsungOne-700", Arial, sans-serif;
    font-weight: 700;
}

@mixin fancyLink {
    text-decoration: none;
    z-index: 1;
        
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: $tertiary;
        visibility: hidden;
        border-radius: 5px;
        transform: scaleX(0);
        transition: .25s linear;
    }

    &:hover:before,
    &:focus:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

@mixin for-tablet-view {
  @media (max-width: 1024px) { @content; }
}

@mixin for-mobile-view {
  @media (max-width: 599px) { @content; }
}

// TYPOGRAPHY
html,
body {
    color: $primary;
    font-family: "SamsungOne-400", Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.text-size-smaller {
    font-size: $font-down-1;
}

h1 {
    font-size: $font-up-5;
    @include boldFont;
}

h3,
th,
.badge-wrapper {
    @include semiBoldFont;
}

.bold {
    @include boldFont;
}

.archetype-regular .hero,
.badge-category-bg,
.badge-category-parent-bg,
.subcategories .badge-notification.new-posts,
.categories-list ol.category-breadcrumb {
    display: none !important;
}

.topic-excerpt a,
.category-description a,
.footer-message a,
.suggested-topics-message a {
    @include fancyLink;
    position: relative;
}

.link-bottom-line a:hover,
a.title:hover,
.contents a:hover,
.title-wrapper a:hover {
    text-decoration: none;
}

.top-date-string,
.top-lists .btn {
    text-transform: none !important;
}

// LAYOUT
#main-outlet {
    padding: 4em 0 0 0;
}

.full-width {
    width: 100%;
}

.list-container,
.posts {
    
    .row {
        margin: 0;
    }
}

.container,
.wrap {
    max-width: 1440px;
}

.newsletter .container,
.footer .container {
    margin: 0 auto;
}


.container,
.tag-sort-options,
.tags-list,
.reviewable,
.groups-header,
.search-container,
.page-not-found,
.not-found-container .row,
.groups-new-page section h1,
.groups-new-page section form {
    padding: 0 40px;
    
    @include for-tablet-view {
        padding: 0 24px;
    }
    
    @include for-mobile-view {
        padding: 0 8px;
    }
}

.directory,
.reviewable,
.badges-page,
.show-badge,
.groups-header,
.admins,
.cakeday,
.body-page,
.search-container,
.groups-new-page {
    margin: 24px 0 0 0;
}

.item,
.column {
    align-self: baseline;
}

.column {
  @include flexbox();
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.list-horizontal {
    @include flexbox();
    flex-wrap: wrap;
    margin: 0;
    @include pack(end);
    justify-content: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    li {
        @include flexbox();
    }
    
    @include for-tablet-view {    
        @include align(center);
    }
}

tbody,
tr {
    border: none;
}

// COLORS
.dark-bg {
   background-color: $primary; 
}

.light-blue-bg {
   background-color: lighten($tertiary, 40%); 
}

#main {
    background-color: $secondary;
}

.white-txt {
    color: $secondary;
}

// dark gray
.topic-statuses .topic-status {
    color: $primary-high;
}

.topic-list .num.posts a,
.topic-list .num.activity a {
    padding: 0;
}

// ICONS
.icon-link {
    width: 24px;
    height: 24px;
    opacity: .62;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    
    @include for-tablet-view {    
        width: 32px;
        height: 32px;
    }
}

.s-ico {
    display: inherit;
    width: 100%;
    height: 100%;
    
    &:before {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        content: "";
    }
    
    &:not(svg):before {
        display: block;
        width: 100%;
        height: 100%; 
    }
}

// BUTTONS
.btn {
  border-radius: 5rem !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
    
    &.no-text .d-icon {
        margin-top: 0;
    }
}

.dismiss-read { 
    margin-bottom: 32px !important;
}

.topic-map {
    margin: 16px 0;

    .buttons .btn,
    .buttons .btn:hover {

        background-color: transparent;
        border: none;
    }
}

// NAVIGATION
.list-controls {

    .nav-pills {

        li {
            margin: 0;
        }

        a {
            @include semiBoldFont;
            padding: 24px;
            
            @include for-tablet-view {  
                padding: 25px 16px;
            }

            &:hover,
            &:active,
            &.active {
                color: $primary;
                background-color: lighten($secondary, 5%);
            }
        }
    }

}

.admin-main-nav {
    margin-top: 16px;
}

.contents,
.admin-main-nav,
.cakeday,
.user-primary-navigation,
.reviewable,
.modal {

    .nav-pills>li {

        a {
            border-radius: 40px;
            border: solid 1px $primary-low-mid;
            color: $primary;
            margin-right: 8px;

            &:hover,
            &:active,
            &.active {
                background-color: $primary-low;
                color: $primary;
            }
        }
    }
}

.admin-controls {

    .nav-pills>li {

        a {
            color: $primary-medium;
            @include boldFont;

            &:hover,
            &:active,
            &.active {
                color: $primary;
                background-color: transparent;
            }
        }
    }
}

// TABLES
table {
    box-shadow: none !important;
    
    .category {
        border: none !important;
    }
    
    .category-description {
        margin-top: 0.4em !important;
        
        @include for-mobile-view {  
            overflow: unset !important;
            padding-top: 16px;
        }
    }
    
    th {
        background-color: $secondary;
        color: $primary !important;
        
        &.sortable:hover {
            background-color: $secondary !important;
        }
    }
    
    tr {
        
        &:nth-child(odd) {
            background-color: lighten($primary-medium, 40%); 
        }
    }
    
    td {
        position: relative;
    }
    
    .topics {
        text-align: center !important;
        width: 152px !important;
        
        @include for-tablet-view {  
            width: 140px !important;
        }
        
        .badge-notification {
            text-align: center !important;
            padding: 0;
        }
        
        .unread-new a {
            color: $primary !important;
            @include boldFont;
            
            &:after {
                content: "•";
                color: $tertiary;
                margin-left: 0.2rem;
                font-size: $font-up-4;
                line-height: 1px;
                position: relative;
                top: 3px;
            }
        }

    }
    
}

// FORMS
input,
textarea,
.combo-box-header {
    border-color: $primary-low-mid !important;
    border-radius: 3px;
    min-height: 40px!important;
}

input[type="checkbox"],
input[type="radio"] {
    min-height: auto !important;
}

.input-group-lg > .custom-select, 
.input-group-lg > .form-control:not(textarea) {
    height: calc(2em + 1rem + 2px);
}

// LOGIN / SIGNUP
#login-form,
.login-form {
    
    table tr:nth-child(odd) {
        background-color: transparent;
    }

}

#login-buttons {
    
    .saml {
        display: none !important;
    }
}

// HEADER
.d-header {
    background-color: $secondary;
    margin: 0;
    
    .wrap {
        width: calc(100% - 24px);
        padding: 0;
        
        @include for-mobile-view {
            padding: 0 8px;
        }
    }
    
    .title-wrapper {
        
        h1 a {
            color: $primary;
        }

        .category-name {
            color: $secondary;
        }
    }
    
    .categories-wrapper {
        top: -8px;
    }
    
    .topic-statuses,
    .topic-header-extra {
        display: none;
    }
    
    .sign-up-button,
    .login-button {
        padding: 12px 16px;
    }
}

.d-header-icons {
    
    .unread-notifications {
        background-color: $tertiary;
        color: $secondary; 
    }
    
    .d-icon {
        font-size: 1.4em;
        color: $primary !important;
    }
    
    .icon:hover, 
    .icon:focus {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .badge-notification {
        padding: 0.21em 0.42em;
    }
}

.custom-header-links {
    padding-right: 16px;
    
    @include for-tablet-view {  
        padding-right: 0;
    }
    
    @media (max-width: 840px) {  
        display: none !important;
    }
    
    .headerLink {
    
        a {
            text-transform: uppercase;
            @include boldFont; 
            color: $primary !important;
            padding: 0 16px !important;
            font-size: $font-0 !important;
            letter-spacing: 0.05em;
            
            @include for-tablet-view {
                padding: 0 8px !important;
                font-size: $font-down-1 !important;
            }
        }
    }
}

.menu-panel {
    
    &.category-link {
        padding: 0;
    }

    .badge-wrapper, 
    .discourse-tags,
    .badge-notification {
        background-color: transparent;
        margin: 0 4px 0 0;
        padding: 0 !important;
        font-size: $font-down-1;

        &.bar span.badge-category {
           color: $primary-high; 
           padding: 0;
        }
    }

    .badge-notification,
    .badge-notification[href] {
        background-color: $primary-low !important;
        color: $primary-high !important; 
        padding: 0 4px !important; 
    }

    .badge-wrapper:hover, 
    .menu-panel li.category-link a:hover {
        background-color: transparent !important;
    }

}

.hero {
    background-color: $quaternary;
    color: $secondary;
    width: 100vw;
    margin-left: calc(-50vw + 50%) !important;
    
    .hero-cnt {

       p, 
       h1 {
           display: none;
       }
        
    }
}

.navigation-categories .hero {
    
    .hero-cnt {

        .container {
            margin: 0 auto;
            padding: 40px;

            @include for-tablet-view {
                background: none;
                padding: 16px;
            }
            
            @include for-mobile-view {
                background: none;
            }
        }
    }
    
    h1 {
        margin-bottom: 8px;
        display: block;
        
        @include for-mobile-view {
            margin: 0;
            font-size: 2.4em;
            text-align: center;
        }
    }
    
    p {
        display: block;
    }
}

// NEWSLETTER
.newsletter {
    margin-top: 40px;
    padding: 88px 0;
    @include align(center);
    
    input {
        padding: .75rem 1.75rem !important;
    }
    
    .input-group {
        width: 70%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        
        @include for-tablet-view {  
            width: 100%;
        }
    }
    
    .form-control {
        background-color: transparent;
        border: none;
        border-bottom: solid 2px $secondary !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-size: 1.25rem;
        line-height: 1.5;
        flex: 1 1 0%;
        width: 100%;
    }
    
    .input-group-append {
        display: flex;
        margin-left: 24px;
    }

}

#subscribe-result {
    margin: 1rem 0 0 1.75rem;
    width: 100%;
}

// CONTENT
.category-Wiki .category-list {

    .category-text-title,
    .category-description {
        margin-left: 0;
    }
}

.top-lists {
    margin-bottom: 24px;
    
    h2 {
        margin-bottom: 0;
    }
    
    .select-kit.dropdown-select-box.period-chooser .period-chooser-header {
        border: solid 1px $primary-low-mid;
        padding: 0 1rem;
        height: 40px;
    }
    
    .d-icon {
        margin: -1px 0 0 5px !important;
    }
}

.select-kit {
    
    &.dropdown-select-box.period-chooser .select-kit-collection {
        padding: 0;
    }
    
    &.dropdown-select-box.period-chooser .period-chooser-row {
        padding: 8px 16px;
        @include boldFont;
    }
    
    .d-icon {
        color: $primary;
    }
    
}

.list-controls {
    margin-bottom: 24px;
    line-height: 64px;
    width: 100vw;
    margin-left: calc(-50vw + 50%) !important;
    background-color: $header-background;

    .category-heading {
        display: none;
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        
            @include for-tablet-view {  
                padding: 0;
            }
        
            @include for-mobile-view {  
                padding: 0 15px 0 0;
            }
    }
    
    .nav {
        margin: 0;
    }
    
    button,
    .btn {
        background-color: transparent;
        margin-top: 16px;
        padding: 8px;
    
        &:hover,
        &:active,
        &.active {
            background-color: $quaternary;
            color: $secondary;
        }
    
        .d-button-label {
            display: none;
        }
    }
    
    h2 {
        margin: 0 0 0 0.5em;
        font-size: 1.2rem;
        @include boldFont;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        white-space: nowrap;
        
        a {
            color: $primary;
        }
    }
    
}

.top-title-buttons .btn {
    text-transform: none;
    font-size: 12px;
    @include boldFont;
}

.modal-inner-container {
    padding: 32px;
    border-radius: 3px;
}

.link-top-line,
.featured-topic {
    
    .topic-statuses {
        margin-right: 0.5em !important;
    }
}

.styleguide {
    margin-right: 40px;
    
    .styleguide-menu ul {
        margin-left: 40px;
    }
}

.category {

    .category-logo.aspect-image {
        --max-height: 72px;
        margin: -24px 0 0 0 !important;

        @include for-tablet-view {
            --max-height: 40px;
        }

        @include for-mobile-view {
            --max-height: 32px;  
        }
    }

    .subcategories,
    .category-text-title,
    .category-description {
        margin-left: 96px;
        
        @include for-tablet-view {  
            margin-left: 64px;
        }
        
        @include for-mobile-view {  
            margin-left: 56px;
        }
        
    }
}

.category-list {
    
    &.with-topics {
        margin: 0;
    }
    
    td.latest {
        padding: 24px 24px 24px 0 !important;
    }
    
    td { 
        padding: 24px !important; 
    }
    
    .link-bottom-line a,
    .link-bottom-line span {
        @include boldFont; 
        color: $primary-medium !important;
    }
    
    tr:nth-child(9) {
        border-top: solid 40px $header-background;
        
        td:first-child:before {
            content: "Private Sections";
            @include boldFont;
            color: $primary;
            position: absolute;
            top: -32px;
            left: 16px;
        }
    }
    
    .topic-post-badges {
        margin-right: 32px;
    }
    
    .featured-topic {
        margin: 0 0 8px 0;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-of-type {
            margin-top: 0;
        }

        .title {
            color: $primary;

            &:visited {
                color: $primary-medium;;
            }
        }
    }

    .subcategories .subcategory {
        margin: 0;
    }
}

.last-posted-at {
    position: absolute;
    right: 0;
    top: 2px;
}

.topic-body {
    width: calc(85% - 0px);
    
    .cooked {
        padding: 16px 0 0 0;
    }
    
    .topic-meta-data {
        padding: 8px 0 0 56px;
    }
    
    @include for-mobile-view {
        width: calc(100% - 0px);
    }
}

.post-notice  {
    max-width: calc(85% + 8px);
    
    @include for-mobile-view {
        max-width: calc(100% + 8px);
    }
}

.timeline-container {
    right: 0;
    
    .topic-timeline {
        margin: 0 3em;
    }
    
    .topic-admin-popup-menu {
        right: 0;
        left: unset !important;
    }
    
}

.topic-admin-popup-menu {
        
    .d-button-label {
        text-transform: none;
    }
        
}

.user-main {
    margin-top: 24px;
    
    .staff-counters {
        background-color: $header-background;
        border-radius: 40px;
        
        &>div, 
        &>div a {
            color: $primary;

            span {
               color: $secondary; 
            }
        }
    }
}

.user-info {
    background-color: transparent !important;
}

.badge-info {
    background-color: lighten($primary, 83%);
}

ol.category-breadcrumb {
    margin: 0;
    
    li {
        display: none;
    }
    
    li:first-child {
        margin: 0;
        display: block;
        text-transform: capitalize;
        
        .combo-box-header {
            border: none;
            background-color: $header-background;
            
            .category-name {
                font-size: 1.1487em;
                
                @include for-tablet-view {
                    font-size: 1em;
                }
            }
        }
        
        .badge-wrapper,
        span.badge-category {
            background: none;
            color: $primary;
            margin: 0 !important;
            padding: 0 !important;
            line-height: normal;
        }
            
    }
    
}

.blurb {
    padding: 0 !important;
}

.read-state {
    right: -20px;
}

.selected-tag {
    min-height: auto;
    line-height: unset;
}

 .select-kit-header {
    padding: 0 0.5em;
}

.extra-info-wrapper .header-title {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.4;
}

.category-description {
    color: $primary !important;
}

.small-action,
.post-notice {
    border-top: none;
}

// NOTIFICATION
.navigation-categories,
.navigation-topics,
[class*="category"] {

    .consent_banner {
        margin-bottom: 0;
    }
}

.consent_banner {
    padding: 16px 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%) !important;
    margin-right: 0;

    span {
        margin-left: 40px;

        @include for-tablet-view {
            margin-left: 16px;
        }
    }

    .d-button-label {
        margin-left: 0;

        @include for-tablet-view {
            margin-left: 16px;
        }
    }

    .close {
        font-size: $font-0;
        top: 0;
        bottom: 0;
        right: 40px;

        @include for-tablet-view {
            right: 16px;
        }

        @include for-mobile-view {
            top: 16px;
        }
    }
} 

.show-more.has-topics {
    position: relative;
}

.alert.alert-success a {
    color: $primary;
    text-decoration: underline;
}

.select-kit.single-select.is-expanded .select-kit-header {
    outline: none;
    background-color: $secondary;
}

// BADGE
.badge-wrapper {
    background-color: #ABAFB6;
    padding: 1px 2px;
    border-radius: 16px;
    color: $secondary;
    margin: 0.25em 0;
    font-size: $font-down-2;

    .badge-category .category-name {
        margin-right: 0;
    }
}

.badge-notification.new-topic::before {
    color: $tertiary;
}

.badge-wrapper:hover,
.menu-panel li.category-link a:hover,
.menu-panel li.category-link a:focus, {
    background-color: darken(#ABAFB6, 5%); 
}

.badge-wrapper.bar span.badge-category{
    color: $secondary;
}

.topic-list-item.visited a.title:not(.badge-notification),
.topic-list .main-link .topic-statuses a,
.category-topic-link.visited a.title:not(.badge-notification) {
    color: $primary-medium;
}

.topic-post .row { 
    position: relative;
}

.small-action .topic-avatar {
    position: relative;

    .d-icon {
        font-size: 1.2em;
    }
}

.topic-avatar {
    position: absolute;
    top: 8px;
    left: 16px;
}

#topic-progress-wrapper {
    right: 0 !important;
    
    #topic-progress {
        margin-left: 8px;
    }
}

.tag-box {

    .discourse-tag.simple, 
    .discourse-tag.simple:visited {
        color: $tertiary;
    }
}

// FOOTER
.footer-message {
    
    .d-icon {
        font-size: 1em !important;
        margin: 0 0.2em 0 0 !important;
    }
}

.footer {
    color: $secondary-high;
    padding: 20px 0;
    
    .item {
        @include flexbox();
        @include pack(justify);
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        @include for-tablet-view {    
            -ms-flex-direction: column;
            flex-direction: column;
            @include pack(center);
            justify-content: center;
            @include align(center);
        }
    }
    
    a {
        color: $secondary-high;
        @include boldFont;
        
        &:hover {
            color: $secondary;
            text-decoration: none;
        }
    }
    
}

.footer-links {
    -webkit-box-ordinal-group: 4;
    @include order(3);
    
    li {
        margin: 0 8px;
        
        @include for-tablet-view {
            margin: 4px 0;
        }
        
    }
    
    @include for-tablet-view {  
        flex-direction: column;
        margin: 0 0 24px 0;
        font-size: 1.2em;
    }
}

.footer-social {
    -webkit-box-ordinal-group: 5;
    @include order(4);
    
    li {
        margin: 0 4px;
        
        @include for-tablet-view {    
            margin: 0 8px;
        }
    }
}

.copyright {
    -webkit-box-ordinal-group: 3;
    @include order(2);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    @include inline-flexbox();
    @include align(center);
    
    @include for-tablet-view {    
        -webkit-box-ordinal-group: 5;
        @include order(4);
        padding-top: 8px;
    }
}

// ADMIN
.admin-interface {
    
    .admin-content {
        
        .nav-stacked li {
            width: 100%;
        }
        
        .channel-footer {
            padding: 16px 8px;
        }
    }
    
    .admin-contents {
        
        .overridden {
            padding: 16px;
        }
        
        .show-current-style .row {
            margin: 0;
        }

    }

}

#simple-container {
    text-align: center
}

// MEDIA QUERIES
@include for-mobile-view {

    .hide-mobile,
    .posters,
    .category-list th,
    .unread-new,
    .progress-back,
    .discourse-tags { 
        display: none !important; 
    }
    
    .category-list td:last-child {
        padding-top: 0 !important;
    }
    
    .category-list td {
        display: block;
        width: 90% !important;
        
        &:last-child {
            padding: 0 16px 16px 16px !important;
        }
        
        .value:before {
            content: "Topics: ";
            @include boldFont;
            color: $primary;
        }
        
        .posts-map a:before {
            content: "Replies: ";
            @include boldFont;
            color: $primary;
        }
        
        .post-activity:before {
            content: "Activity: ";
            @include boldFont;
            color: $primary;
        }

    }
    
    #topic-progress {
        margin-left: 8px;
    }
    
    .topic-area {
        width: 100%;
    }
    
    .category-text-title {
        position: relative;
        top: 5px;
    }
    
    #site-logo {
        height: 2em !important;
    }
    
    .newsletter {
        padding: 40px 16px;
    }
    
    #subscribe-form {
        
        .form-control {
            padding: .75rem !important;
        }
        
        .input-group-append {
            margin: 16px auto 0 auto;
            text-align: center;
            display: block;
            width: 100%;
        }
    }

}



//New Topic Fab
#create-topic.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 63px;
  height: 63px;
  border-radius: 40px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: z("composer", "content") - 1;
  background-color: $tertiary;
  color: $secondary;
  white-space: nowrap;
  overflow: hidden;
  .d-icon {
    margin: 0;
    color: $secondary;
  }
  .d-button-label {
    display: inline-block;
    transition: all 0.3s;
    margin: 0 0.25em;
  }

  &:not(:hover):not(:active):not(:focus) {
    .d-button-label {
      opacity: 0;
      width: 0;
      margin: 0;
    }
    .d-icon {
      margin: 0 0.25em;
    }
  }
}

#create-topic.btn-default .fa-plus {
  color: $secondary;
}

#create-topic.btn-default:hover {
  width: 190px;
}

//Reply Fab
.timeline-footer-controls {
  position: relative;
}

.widget-button.btn.create {
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: -10px;
  background-color: $tertiary;
  overflow: hidden;
  width: 60px;
  height: 60px;
  
  .d-icon {
    color: $secondary;
  }
}