
@import "base/mixins";
@import "base/typography";
@import "base/layout";
@import "base/colors";
@import "base/buttons";

@import "partials/nav";
@import "partials/tables";
@import "partials/forms";
@import "partials/modals";
@import "partials/select-kit";
@import "partials/banners";
@import "partials/tags";
@import "partials/category-badges";

@import "header";
@import "topic-list";
@import "category-list";
@import "topic";
@import "user";
@import "search";

#global-notice-alert-emails-disabled {
  display: none;
}

body {
    overflow-x: visible !important;
}

.banner-container {
    padding: 0 !important;
}

