<div class="container">
  <div class="text">
    <h1>{{siteSettings.title}}</h1>
    <p>{{siteSettings.short_site_description}}</p>
  </div>
  <a class="logo" href="https://bensfriends.org"></a>
</div>